/* Fuentes */
@font-face {
    font-family: "fuenteTitulo";
    src: url(../contenidoMarca/fuentes/futura-medium-bt.ttf);
}

@font-face {
    font-family: "fuenteTitulo2";
    src: url(../contenidoMarca/fuentes/futura-book-bt.ttf);
}

@font-face {
    font-family: "fuenteTexto";
    src: url(../contenidoMarca/fuentes/futura-normal.ttf);
}
