//  varriables
$colorTitulo: #e2d2bb;
$bg-gr-mains: linear-gradient(to bottom, rgba(174, 127, 109, 1) 0%, #c49572 28%, #ba996c 93%);
$borderNormal: 1px solid black;
$fonth1: 4rem + 0.5rem;
$anchoLogo: 10rem * 2;
